# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Trained Models
*.pth

# Generated MIDI Files
*.mid

# Generated NumPy Files
*.npy

# Pickle Files
*.pkl

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# Epoch Tracking
epoch_counter.txt
